.body-override {
	height: 100%;
	margin:0px;
	background-color:#f2f2f2;
}

.text_container{
	width:100%;
	height:170px;
	background-color:#0073e6;
}

.text{
	width:100%;
	height:100px;
	text-align:center;
	font-size:36px;
	color:#FFFFFF;
	padding-top:50px;
}

.more_text{
	width:100%;
	height:90px;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
}

p {
	margin: 0px;
	padding: 0px;
}

th {
	height: 70%;
}

.banner-div {
	background-color:#0066cc;
	height: 120px;
	width: 100%;
	padding:0px;
}

.main-header {
  color: white;
  float: left;
  margin-top: 40px;
	padding-top:0px;
	padding-left: 50px;
	font-size:36px;
	font-family: 'Open Sans', sans-serif;
}

.nav-bar-menu {
	float:right;
	padding-top:40px;
	padding-right: 120px;
	font-family: 'Open Sans', sans-serif;
}

.menu-ref {
	color: white;
}

li.Home {
  display: inline;
	color:white;
	font-size:30px;
	margin-right:50px;

}

li.Contribute {
  display: inline;
	color:white;
	font-size:30px;
	margin-right: 50px;
}

li.Help {
  display: inline;
	color:white;
	font-size:30px;
}

.nav-bar-menu {
	color:yellow;
}

li:hover{
	color:yellow;
}

#api-call-input {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}

.main-body {
	width: 100%;
	height: 60%;
	margin: 5%;
	margin-top: 1%;
}

#param-pane {
	position: absolute;
	width: 44%;
	height: 70%;
	padding: 0%;
	background-color: white;
}

#param-table {
	width: 100%;
	margin: 0%;
}

#table-title {

	height: 80%;
	display: inline;
}

.table-cell {
	padding: 0%;
}

.cell-input-div {
	width: 100%;
	height: 100%;
	margin: 0%;
}

.table-cell-input {
	width: 100%;
	height: 100%;
	margin: 0%;
}

#editor-segment {
	position: absolute;
	width: 44%;
	height: 70%;
	margin: 0%;
	margin-left: 45%;
	float: right;
	padding: 0%;
}

#editor {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0%;
}
