
body{
    background-color: grey;
}

.main-header{
    color: white;
}

.main-header-div{
  background-color: black;
  width: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 20px;
}
